.places__paragraph:first-of-type {
    margin: 0 auto 36px 0;
}

@media only screen 
    and (min-width: 425px)
    and (max-width: 768px) {
        .places__paragraph:first-of-type {
            margin: 0 auto 24px 0;
        }                      
}

@media only screen 
    and (max-width: 425px) {
        .places__paragraph:first-of-type {
            margin: 24px auto 24px 0;
        }    
        .places__paragraph {
            padding: 0 16px;
        }                         
}