.places__first-column {
    /* max-width: 460px; */
    margin: 0 18px 0 0;
    flex-basis: 50%;
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {
        .places__first-column {
            /* max-width: 440px; */
            margin-right: 32px;
            flex-basis: 50%;

        }                  
}

@media only screen 
    and (min-width: 425px)
    and (max-width: 768px) {
        .places__first-column {
            /* max-width: 340px; */
            margin-right: 28px;
            flex-basis: 50%;

        }               
}

@media only screen 
    and (max-width: 425px) {
        .places__first-column {
            width: 100%;
        }                     
    }