.intro__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px; 
    color: #FFFFFF;
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {
        .intro__subtitle {
            font-family: 'Inter', Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px; 
            color: #FFFFFF;
        } 
}

@media only screen 
    and (min-width: 425px)
    and (max-width: 768px) {
        .intro__subtitle {
            font-family: 'Inter', Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px; 
            color: #FFFFFF;
        }
               
}

@media only screen 
    and (max-width: 425px) {
        .intro__subtitle {
            font-family: 'Inter', Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px; 
            color: #FFFFFF;
        }                              
    }