.places__source-block {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

@media only screen 
    and (max-width: 425px) {
        .places__source-block {
            display: none;
        }
        }