.barentsburg__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    color: #FFFFFF;
    max-width: 443px;
    line-height: 61px;
    margin-bottom: 20px;
}
