.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    width: 210px;
}
