.footer__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 75%;
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 1024px) {
        .footer__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 50%;
        }                       
}

@media only screen 
    and (max-width: 768px) {
        .footer__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 50%;
        }                             
}

@media only screen 
    and (max-width: 700px) {
        .footer__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 100%;
        }                             
}


@media only screen 
    and (max-width: 425px) {
        .footer__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }                              
}